@import "variables";

.card-course-item {
  margin-top: 20px;
}
.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}
.checkbox-select-all-options {
  width: 200px;
  margin: 0 16px;
}

.login-header {
  color: white !important;
  font-size: 14px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  :hover {
    
    cursor: pointer;
  }
}
