<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 education</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="https://previews.123rf.com/images/ornitopter/ornitopter1510/ornitopter151000169/46712114-lightning-letter-t.jpg"
              class="user-avatar"
            />
            Welcome
            {{name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">ĐĂNG KHÓA HỌC</a>
            <a class="dropdown-item" href="/me/stored/courses">
              KHÓA HỌC CỦA TÔI</a>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/user/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>